


html {
  scroll-behavior: smooth;
}

*, html, body, #root {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  max-width: 100%;
}



body {
  width: 70%;
  margin: 0 auto;
  overflow-x: hidden  ;
}

img {
  max-width: 100%;
  margin-bottom: 0;
}

a:visited {
  color: initial;
}

h2 {
  color: #2c2b2b;
  margin: 20px;
}

h4 {
  font-weight: 400;
}

hr {
  width: 100%;
  border: solid #7b7b7b 2px;
  margin: 0 auto;
}



header {
  padding: 25px 50px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  box-sizing: border-box;
}

header div {
  width: 50%;
}

header div:first-child {
  display: none;
}

.logo {
  width: 200px;
  height: auto;
}

.nav {
  width: 50%;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  justify-self: center;
}

.toggle {
  display: none;
}

.main-quote {
  text-align: center;
}

.buy {
  margin: 20px;
  background-color: #792551;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.card-product {
  max-width: 320px;
  margin: 10px auto;

  border-radius: 10px;
  padding: 10px;

  text-align: center;
}


@media only screen and (max-width : 900px) {
  header {
  padding: 10px 20px;
  height: 70px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  box-sizing: border-box
  }

  header div:first-child {
    display: block;
  }

  .logo {
    max-height: 45px;
    justify-self: center;
    align-self: center;
  }

  .toggle {
    display: block;
    margin-right: 40px;
    justify-self: end;
    align-self: center;
  }


  .nav {
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 0;
    width: 100vw;  
    height: 200px;
    opacity: 0;
    visibility: hidden;
    translate: 0 -10px;
    transition: 0.3s;
  }

  .show-toggle {
    opacity: 1;
    visibility: visible;
    translate: 0;
  }

  .nav > a {
    padding-right: 20px;
    text-decoration: none;
    border-bottom: 1px solid black;
  }


  .search-box {
    position: fixed;
    top: 0;
    right: -100vw;
    background-color: gray;
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .show-search {
    right: 0;
  }


  .search-box input {
    width: 80%;
    background: none;
    border: none;
    border-bottom: 1px solid black;
  }


  /* .show {
    display: block;
    right: -100px;
    transition: transform 1s ease-in;
  } */

  /* .hide {
    transform: translateX(100px);
  } */

  main {
    max-width: 100%;
    padding: 0 20px;
    margin-bottom: 500px;
    text-align: center;

  }
  .advertising {
    background-color: rgb(254, 55, 55);
    color: white;
    padding: 5px;
    text-align: center;
  }

  .banners {
    display: block;
    max-width: 100%;
  }


  .products {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }



  .card-product {
    max-width: 320px;
    margin: 10px auto;
    border: 1px solid rgb(181, 181, 181);
    border-radius: 10px;
    padding: 10px;
    box-shadow: #a1a1a1 2px 2px;
    text-align: center;
  
  }

  

  .card-product2 button {
    margin: 10px;
    background:#171025;
    padding: 15px;
    color: white;
    border: none;
  }

  .view-product {
    width: 100%;  
    background-color: rgb(217, 185, 247);
    border-radius: 5px;


  }


  .footer {
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-bottom {
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 0.8rem;

  }



  }


  .rounded {
    border-radius: 50%;
  }

  .product-name {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .product-price {
    font-weight: 600;
  }

  .justify {
    text-align: justify;
    padding: 10px 20px;
  }

  main > img {
    width: 90%;
    padding: 10px 20px;
  }

  .full-width {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%; 
  background-image: url("/img/banners/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  }

.animate-on-scroll {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s;
}
.animate.animate-on-scroll {
  opacity: 1; /* Establece la opacidad en 1 para hacer que aparezca */
  transform: translateY(0); /* Devuelve a la posición original */
}


.card-product2 {
  border-radius: 5px;
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}

.card-product2 img {
  height: 400px;
  margin: 15px 0;
  border-radius: 5px;
}